<div xmlns:th="http://www.thymeleaf.org" th:fragment="book-detail">
    <section id="synopsis" class="container">
        <p th:text="${book.synopsis}"></p>
    </section>

    <section id="informations" class="container">
        <table class="table table-infos">
            <tbody>
                <tr>
                    <th scope="row">Category :</th>
                    <td th:text="${book.category}"></td>
                </tr>
                <tr>
                    <th scope="row">Reference :</th>
                    <td th:text="${book.reference}"></td>
                </tr>
                <tr>
                    <th scope="row">Publisher :</th>
                    <td th:text="${book.publisher}"></td>
                </tr>
                <tr>
                    <th scope="row">Language :</th>
                    <td th:text="${book.language}"></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="disponibility" class="container">
        <ul class="libraryList">
            <li class="listItem" th:each="stock : ${stocks}">
                <div>
                    <p th:text="${stock.quantity}"></p>
                </div>
                <h3 class="mb-auto" th:text="${stock.library.name}" data-toggle="tooltip" data-placement="bottom" th:title="${stock.library.address}"></h3>
                <a class="btn btn-outline-lightbrown" th:unless="${authentication.equals('anonymousUser')}" th:href="@{/loan/new(libraryId=${stock.library.numberRef}, bookReference=${book.reference})}">Réservez</a>
            </li>
        </ul>
    </section>

    <section id="comments" class="container-fluid">
        <div id="separator"></div>
        <div id="commentContent">
            <div th:replace="fragments/structure/comments :: comments"></div>
        </div>
    </section>
    <script>
        $('#commentsTable').DataTable({
            "searching": false,
            "lengthChange": false,
            "pageLength": 5,
            "pagingType": "full",
            "language": {
                "paginate": {
                    "first": "<< First",
                    "previous": "< Previous",
                    "next": "Next >",
                    "last": "Last >>"
                }
            },
            "info": false,
            "ordering": false
        });
    </script>
</div>