<figure xmlns:th="http://www.thymeleaf.org" th:fragments="3d-book(book)" class='book' th:object="${book}" >

    <!-- Front -->

    <ul class='book_ul hardcover_front'>
        <li>
            <div class="coverDesign brown">
                <span class="ribbon">NEW</span>
                <img th:src="*{imageUrl}" width="99%" height="99%" />
            </div>
        </li>
        <li></li>
    </ul>

    <!-- Pages -->

    <ul class='book_ul page'>
        <li></li>
        <li>
            <a class="btn" href="#">Download</a>
        </li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <!-- Back -->

    <ul class='book_ul hardcover_back'>
        <li></li>
        <li></li>
    </ul>
    <ul class='book_ul book_spine'>
        <li></li>
        <li></li>
    </ul>
</figure>