<figure xmlns:th="http://www.thymeleaf.org" th:object="${book}" class='book' th:fragment="3d-book">
    <!-- Front -->
    <ul class='hardcover_front'>
        <li>

            <img th:src="*{imageUrl}" width="100%" height="100%" />
        </li>
        <li></li>
    </ul>

    <!-- Pages -->
    <ul class='page'>
        <li></li>
        <li id="content">
            <p id="synopsis" th:text="*{synopsis}"></p>
        </li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <!-- Back -->
    <ul class='hardcover_back'>
        <li></li>
        <li></li>
    </ul>
    <ul class='book_spine'>
        <li></li>
        <li></li>
    </ul>

    <figcaption>
        <h1 th:text="*{title}"></h1>
        <p>By <span th:text="*{author}"></span></p>
        <span th:each="i: ${#numbers.sequence(0, 4)}" class="d-inline">
            <i th:if="${i} < *{mark}" class="fas fa-star"></i>
            <i th:if="${i} >= *{mark}" class="far fa-star"></i>
        </span>
    </figcaption>

    <script th:src="@{/js/book.js}" type="text/javascript"></script>
</figure>