<!-- Modal -->
<div th:fragment="modal-signup" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- ===== HEADER ===== -->
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel">Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- ===== BODY ===== -->
            <div class="modal-body">
                <form th:action="@{/login}" method="post">
                    <!-- username -->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="username" class="form-control" placeholder="username">
                    </div>

                    <!-- password -->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password" class="form-control" placeholder="password">
                    </div>

                    <!-- remember me -->
                    <div class="row align-items-center remember-button">
                        <input type="checkbox">Remember Me
                    </div>

                    <!-- submit -->
                    <div class="form-group">
                        <input type="submit" name="submit" value="Login" class="btn float-right login_btn">
                    </div>

                    <!-- protection against Cross-Site Request Forgery attacks -->
                    <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
                </form>
            </div>

            <!-- ===== FOOTER ===== -->
            <div class="modal-footer">
                <div class="d-flex justify-content-center">
                    Don't have an account ? <a href="#" id="signup-link">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>