<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/structure/head :: head" />
    <body>
        <header th:replace="fragments/structure/header :: header" />
        <section th:each="category : ${categories}">
            <h2 th:text="${category}"></h2>
            <div id="slider">
                <div id="slider-item" th:each="book : ${books}" th:if="${book.category} == ${category}">
                    <img th:src="${book.imageUrl}" />
                    <p>
                        <span th:text="${book.title}"></span>
                        </br><span th:text="${book.author}"></span>
                    </p>
                </div>
            </div>
        </section>

        <!-- th replace modal -->
        <div th:replace="fragments/modal/modal-account :: modal-account" />

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
        <script th:src="@{/js/modal-account.js}" type="text/javascript"></script>
        <script th:src="@{/js/form-validating.js}" type="text/javascript"></script>
        <script type="text/javascript" th:inline="javascript">
            let url = window.location.href;
            if(url.indexOf('loginError=true') !== -1) {
                openLoginForm();
            } else if (url.indexOf('registerError=true') !== -1) {
                openRegisterForm();
            } else if (url.indexOf('forgotPasswordError=true') !== -1) {
                openForgotPasswordForm();
            } else if(url.indexOf('emailSendingError=true') !== -1) {
                openResendEmailForm();
            } else if (url.indexOf('confirmEmailSuccess=true') !== -1) {
                alert('email confirmed !');
            }
        </script>
    </body>
</html>