<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/structure/head :: head" />
    <body>
        <header th:replace="fragments/structure/header :: header" />
        <section th:each="category : ${categories}">
            <h2 th:text="${category}"></h2>
            <div class="slider">
                <div class="slider-item" th:each="book : ${books}" th:if="${book.category} == ${category}" th:id="${book.reference}" onclick="getBookDetailView(this.id)">
                    <img th:src="${book.imageUrl}" />
                    <p>
                        <span th:text="${book.title}"></span>
                        </br><span th:text="${book.author}"></span>
                    </p>
                </div>
            </div>
        </section>

        <!-- th replace modal -->
        <div th:replace="fragments/modal/modal-account :: modal-account" />

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
        <script th:src="@{/js/modal-account.js}" type="text/javascript"></script>
        <script th:src="@{/js/form-validating.js}" type="text/javascript"></script>
        <script type="text/javascript" th:inline="javascript">
            function getBookDetailView(reference) {
                let baseLink = /*[[@{/book-detail/}]]*/'';
                location.href = baseLink + reference;
            }

        </script>
    </body>
</html>