<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Library Web Service: Found Your Book Easier</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1>Library Web Service</h1>
            <p id="libraryname">Nom de la bibliothèque</p>
            <nav>
                <!-- Search Bar -->
                <form method="get" action="/search">
                    <input type="text" name="searchString" />
                    <input type="submit" value="Search" />
                </form>
                <!-- Connexion / User Parameter -->
            </nav>
        </header>
        <section th:each="category : ${categories}">
            <h2 th:text="${category}"></h2>
            <div id="slider">
                <div id="slider-item" th:each="book : ${books}" th:if="${book.category} == ${category}">
                    <img th:src="${book.imageUrl}" />
                    <p>
                        <span th:text="${book.title}"></span>
                        </br><span th:text="${book.author}"></span>
                    </p>
                </div>
            </div>
        </section>
    </body>
</html>