<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/structure/head :: head"></head>
    <body>
        <!-- ===== Content Page ===== -->
        <div id="content-wrapper">
            <nav th:replace="fragments/structure/navigation :: navigation"></nav>

            <div>
                <form id="reset-password-form" th:action="@{/user/reset-password}" method="post" novalidate>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" id="forgot-password" name="newPassword" class="form-control input-brown"
                               onkeyup="validatePassword(this.id)" th:placeholder="#{placeholder.newpassword}" required />
                        <div class="messages"></div>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" id="forgot-confirm-password" name="newConfirm" class="form-control input-brown"
                               onkeyup="validateConfirmPassword('forgot-password', this.id)"
                               th:placeholder="#{placeholder.confirmation}" required />
                        <div class="messages"></div>
                    </div>

                    <input type="hidden" name="token" th:value="${token}">

                    <input type="submit" class="btn btn-outline-lightbrown"/>
                </form>
            </div>

            <!-- ===== Modal Fragment ===== -->
            <div th:replace="fragments/modal/modal-account :: modal-account"></div>

            <!-- ===== Footer / Loading Script ===== -->
            <footer class="fixed-bottom">
                <div th:replace="fragments/structure/footer :: footer"></div>
                <script th:src="@{/js/modal-account.js}" type="text/javascript"></script>
                <script th:src="@{/js/form-validating.js}" type="text/javascript"></script>
            </footer>
        </div>
    </body>
</html>